/**************     Login Form       *******************/
/* Bordered form */
.user-forms {
    margin-top: 4.5em;
}

/* Full-width inputs */
#username, #password, #confirmPassword, #email {
    width: 100%;
    padding: 12px 20px;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.user-forms-buttons {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover .user-forms-buttons{
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancel-btn {
    width: auto;
    padding: 0.625em 1.25em;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.img-container {
    text-align: center;
    margin: 1.5em 0 0.75em 0;
}

/* Avatar image */
.avatar {
    width: 10em;
    border-radius: 30%;
}

/* Add padding to containers */
.container-user-forms {
    padding: 1em;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 1em;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel-btn {
        width: 100%;
    }
}